div#seccion-1.side-nav
    div.row
      h1.center-align Sección 1
    div.row
      button.btn#close-1 Cerrar
    div.row
      div.col.s1.offset-s4.asiento.libre.hoverable#23(data-blocked="false" data-taquilla="")
      div.col.s1.asiento.libre.hoverable#24(data-blocked="false" data-taquilla="")