div#seccion-26.side-nav
    div.row
      div.col.s8.col-center.escenario.brown.darken-4.z-depth-2
        p.center-align.white-text ESCENARIO PRINCIPAL
      button.btn.btn-floating.transparent.close-btn(data-close="26")
        i.material-icons.grey-text close
    div.row
      span.badge-seccion.white-text Sección 26