extends layout

block content
  main
    h2.mb-0= title
    p.mtb-8 Selecione la zona:
    br
    br
    //- button.button-collapse.waves-effect.waves-light.btn(data-activates="seccion-1") Seccion 1
    //- button.button-collapse.waves-effect.waves-light.btn(data-activates="seccion-2") Seccion 2
    section(style="min-height: 50.5vh;")
      div.row
        .col.s1
        img#teatro(src="/images/teatro.png" usemap="#teatro-pueblo")
        map(name="teatro-pueblo")
          area(shape="poly" data-id="25" data-activates="seccion-25" coords="2, 138, 49, 103, 119, 66, 202, 33, 267, 18, 274, 52, 216, 66, 141, 94, 84, 125, 24, 166" alt="Sección 25" )
          area(shape="poly" data-activates="seccion-26" coords="278, 16, 356, 6, 429, 2, 511, 6, 582, 17, 575, 51, 503, 39, 436, 36, 358, 40, 286, 50" data-id="26" alt="Sección 26" )
          area(shape="poly" coords="594, 18, 678, 41, 732, 62, 807, 101, 857, 138, 836, 165, 781, 126, 720, 95, 650, 68, 586, 52" alt="Sección 27")
          area(shape="poly" coords="26, 169, 81, 129, 144, 96, 194, 76, 275, 55, 283, 89, 220, 104, 164, 125, 102, 157, 48, 196" alt="Sección 22")
          area(shape="poly" coords="286, 54, 364, 43, 430, 39, 497, 43, 574, 54, 567, 86, 504, 78, 442, 73, 363, 77, 294, 85" alt="Sección 23")
          area(shape="poly" coords="585, 56, 662, 76, 717, 96, 776, 128, 834, 169, 813, 197, 760, 160, 705, 131, 633, 103, 577, 88" alt="Sección 24")
          area(shape="poly" coords="50, 200, 101, 163, 159, 133, 217, 109, 285, 92, 292, 125, 235, 140, 180, 160, 115, 194, 69, 227" alt="Sección 19")
          area(shape="poly" coords="294, 90, 368, 80, 429, 77, 497, 81, 566, 91, 558, 123, 499, 115, 436, 110, 360, 115, 303, 123" alt="Sección 20")
          area(shape="poly" coords="576, 92, 639, 108, 700, 131, 755, 159, 811, 200, 790, 227, 740, 189, 690, 164, 617, 136, 569, 125" alt="Sección 21")
          area(shape="poly" coords="72, 230, 114, 199, 165, 171, 221, 148, 293, 128, 300, 160, 241, 176, 195, 193, 136, 224, 92, 256" alt="Sección 16")
          area(shape="poly" coords="303, 123, 373, 117, 434, 114, 487, 116, 557, 126, 550, 160, 492, 151, 434, 148, 373, 150, 311, 159" alt="Sección 17")
          area(shape="poly" coords="568, 128, 629, 143, 685, 166, 736, 190, 788, 229, 767, 256, 723, 224, 672, 197, 617, 176, 561, 162" alt="Sección 18")
          area(shape="poly" coords="94, 258, 144, 224, 192, 198, 248, 178, 301, 164, 308, 198, 261, 210, 212, 228, 159, 255, 116, 286" alt="Sección 13")
          area(shape="poly" coords="312, 162, 372, 154, 431, 150, 481, 153, 549, 162, 541, 196, 487, 189, 436, 186, 372, 189, 320, 196" alt="Sección 14")
          area(shape="poly" coords="560, 165, 617, 179, 666, 197, 712, 221, 765, 258, 744, 286, 701, 255, 653, 230, 601, 210, 552, 197" alt="Sección 15")
          area(shape="poly" coords="119, 289, 157, 261, 202, 236, 252, 216, 309, 201, 317, 234, 274, 245, 225, 262, 178, 288, 139, 316" alt="Sección 10")
          area(shape="poly" coords="321, 199, 375, 192, 432, 189, 485, 192, 540, 200, 533, 233, 482, 226, 429, 224, 382, 225, 328, 232" alt="Sección 11")
          area(shape="poly" coords="551, 201, 604, 215, 650, 233, 688, 250, 742, 289, 721, 316, 679, 287, 637, 265, 593, 248, 544, 234" alt="Sección 12")
          area(shape="poly" coords="141, 319, 178, 292, 217, 272, 264, 252, 318, 238, 325, 271, 281, 282, 240, 297, 195, 321, 163, 345" alt="Sección 7")
          area(shape="poly" coords="329, 236, 377, 228, 426, 226, 474, 226, 532, 235, 524, 268, 476, 262, 432, 260, 386, 261, 337, 269" alt="Sección 8")
          area(shape="poly" coords="542, 238, 586, 249, 636, 268, 678, 289, 719, 318, 698, 346, 660, 318, 625, 300, 584, 284, 535, 271" alt="Sección 9")
          area(shape="poly" coords="164, 348, 197, 325, 236, 304, 278, 287, 326, 274, 334, 307, 293, 317, 257, 330, 226, 347, 185, 375" alt="Sección 4")
          area(shape="poly" coords="337, 272, 383, 265, 432, 264, 477, 266, 524, 272, 515, 304, 476, 299, 437, 297, 394, 298, 344, 305" alt="Sección 5")
          area(shape="poly" coords="534, 274, 573, 284, 619, 301, 654, 318, 696, 349, 674, 375, 641, 352, 608, 333, 566, 318, 527, 308" alt="Sección 6")
          area(shape="poly" coords="188, 378, 218, 356, 252, 337, 284, 324, 334, 311, 342, 344, 304, 353, 275, 365, 246, 378, 209, 405" alt="Sección 1")
          area(shape="poly" coords="346, 308, 390, 302, 428, 301, 469, 302, 515, 308, 507, 341, 472, 336, 436, 334, 397, 335, 354, 341" alt="Sección 2")
          area(shape="poly" coords="526, 310, 565, 320, 602, 335, 632, 349, 673, 377, 651, 406, 617, 381, 591, 366, 554, 353, 518, 344" alt="Sección 3")

    include sections/section-25
    include sections/section-26

  include sidenav
  script(src="/js/jquery-3.1.1.min.js")
  script(src="/js/materialize.min.js")
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect('localhost:3000', {forceNew: true});
    var pendientes = false;
    var socketId;
    var fila = [];

    socket.on('connect', function(){
      socketId = socket.id;
      socket.emit("request-id", {});
    });

    $("area").sideNav({  
      menuWidth: '100%',  
      edge: 'left', // Choose the horizontal origin      
    });
    //- $("#sidenav").sideNav({
    //-   menuWidth: 200,
    //- });
    $("area").click(function(){
      var seccion = $(this).attr("data-id");
      $("#seccion").html(seccion);
    });

    $(".close-btn").click(function() {
      var id = "#seccion-" + $(this).attr('data-close');
      $(id).sideNav('hide');
      $("#seccion").html("");
      //- alert(pendientes);
    });

    $(".asiento").click(function() {

      var id = '#' + $(this).attr('id');
      var emit = false;
      var taquilla = "";
      var bloqueado = "false";
      var f = $(this).attr('data-fila');
      

      if($(id).attr('data-blocked') == 'false'){

        bloqueado = "true";
        //- updateFila(f, "block");
        taquilla = socketId;
        emit = true;       

      }else{
        
        if($(id).attr('data-taquilla') == socketId){
          
          bloqueado = "false";
          //- updateFila(f, "release");
          taquilla = "";
          emit = true;

        }else{
          
          alert('no puedes desbloquear este lugar');
          emit = false;

        }

      }

      if(emit){
        $(id).attr('data-taquilla',  taquilla);
        $(id).attr('data-blocked', bloqueado);
        $(id).toggleClass('bloqueado');

        socket.emit('bloqueado', {
          id: id,
          taquilla: taquilla,
          blocked: bloqueado
        });
      }


    });

    socket.on('bloquear', function(data) {
      
      $(data.id).toggleClass('bloqueado');
      $(data.id).attr('data-taquilla',  data.taquilla);
      $(data.id).attr('data-blocked',  data.blocked);

    });

    socket.on("taquilla", function(data){
      $("#taquilla-id").html(data);
    });

    function coordinadas(event){
      alert("Posición del ratón\nx: " + event.x + "\ny: " + event.y);
    };

    function updateFila(id, action) {

      if(action == "block"){
        if(jQuery.inArray(id,fila) == -1){
          fila.push(id);
          fila.sort();
          $("#fila").html(fila.join(" "));
        }
      }else{

      }

      

    }
