div#sidenav.side-nav.fixed
  div.userView.row
    p.center-align.white-text.subtitle TAQUILLA
    div.col.s3.white.circle.z-depth-3
      h4.center-align 1
  div.row.sidenav-content
    div.col.s6.border-bottom
      p.center-align.mtb-8
        b SECCIÓN
    div.col.s6.border-bottom
      p.center-align.mtb-8
        b FILA
    div.col.s6.border-right
      h4.center-align.teal-text VIP
    div.col.s6
      h4.center-align.teal-text A
    div.col.s12
      p.center-align.mtb-8.subtitle 
        b BOLETOS
    div.col.s12.border-top
      h4.center-align.teal-text 22,23,24,25
    div.col.s12.mt-15.z-depth-1.border
      p.mtb-8
        b TOTAL:
      h2.center-align.deep-orange-text.mtb-8#total 
        span $
        |15,328 
        span MXN
    div.col.s12.mt-30
      div.col.s6
        button.btn-floating.btn-large.waves-effect.waves-light.red.mt-15
          i.material-icons close
      div.col.s6
        button.btn-floating.btn-large-2.waves-effect.waves-light.green
          i.material-icons.big done

    