div#sidenav.side-nav.fixed
  div.userView.row.mb-0
    p.center-align.white-text.subtitle TAQUILLA
    div.col.s3.white.circle.z-depth-3
      h4.center-align#taquilla-id 
  div.row.sidenav-content.mb-0
    div.col.s6.border-bottom
      p.center-align.mtb-8
        b SECCION
    div.col.s6.border-bottom
      p.center-align.mtb-8
        b FILA
    div.col.s6.border-right.min-h68
      h4.center-align.teal-text#seccion
    div.col.s6.min-h68
      h4.center-align.teal-text#fila
    div.col.s12
      p.center-align.mtb-8.subtitle 
        b BOLETOS
    div.col.s12.border-top.min-h68
      h4.center-align.teal-text#boletos - - -
    div.col.s12.mt-15.z-depth-1.border
      p.mtb-8
        b TOTAL:
      h2.center-align.deep-orange-text.mtb-8#total 
        span $
        |15,328 
        span MXN
    div.col.s12.mt-50
      div.col.s6
        button.btn-floating.btn-large.waves-effect.waves-light.red.mt-15
          i.material-icons close
      div.col.s6
        button.btn-floating.btn-large-2.waves-effect.waves-light.green
          i.material-icons.big done

    