body {
	/*padding: 50px;*/
	background: #efebe9 ;
	/*background: #e96443; 
	background: -webkit-linear-gradient(to right, #e96443 , #904e95);
	background: linear-gradient(to right, #e96443 , #904e95); 
	*//*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
	color: #00B7FF;
}

header, main, footer {
	padding-left: 24%;
}

.subtitle {
	letter-spacing: 5px;
	font-size: 1.3rem;
}

.col-center{
	float: none!important;
	margin: 0 auto!important;
}

[id^='seccion-']{
	/*background: #f9fbe7 ;*/
	padding-left: 22%;
}

.close-btn{
	position:absolute; top:30px; right:50px;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.asiento {
	width: 50px;
	height: 50px;
	border: 1px solid #aaa;
	border-radius: 5px;
	cursor: pointer;
}

.bloqueado{
	background: #ffc400;
	color: #00B7FF;
	transition: all 0.3 linear;
}
.vendido {
	background: #e53935;
	color: #FFF;
	transition: all 0.3 linear;
}

#sidenav {
	width: 22%;
	overflow-y: hidden;
	box-shadow: none;
	/*background-color: #f9fbe7 ;*/
}

.side-nav .userView {
	overflow: visible;
	padding: 32px;
	background: #e96443; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #e96443 , #904e95); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #e96443 , #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.userView > div {
	position: absolute;
	right: 40%!important;
	top: 100px;
}

.userView > div > h4 {
	margin: 0.8rem 0;
	color: #26a69a;
}
.sidenav-content {
	padding: 50px 10px 0;
	border-right: 2px solid #ddd;
	height: 100%;
}
.btn-floating.btn-large-2 {
	width: 85px;
	height: 85px;
}
.btn-floating i.big{
	font-size: 2.6rem;
	line-height: 67px;
}
#total > span {
	font-size: 1.3rem;
	font-weight: bold;
	color: #111;
}
.escenario {
	padding: 10px 0 15px 0!important;
	border-radius: 0 0 70px 70px;
	letter-spacing: 10px;
}
.badge-seccion {
	padding: 13px 40px;
	font-size: 1.1rem;
	background: #e96443; 
	background: -webkit-linear-gradient(to right, #e96443 , #904e95);
	background: linear-gradient(to right, #e96443 , #904e95);
}
/***************
*BORDERS
***************/
.border {
	border: 1px solid #bbb;
}

.border-left {
	border-left: 1px solid #bbb;
}

.border-right {
	border-right: 1px solid #bbb;
}

.border-bottom {
	border-bottom: 1px solid #bbb;
}

.border-top {
	border-top: 1px solid #bbb;
}

/***************
*MARGINS
***************/
.mt-15 {
	margin-top: 15px;
}

.mt-30 {
	margin-top: 30px;
}
.mt-50 {
	margin-top: 50px;
}

.mtb-8 {
	margin: 8px 0;
}

.mb-0 {
	margin-bottom: 0!important;
}

/*.side-nav {
	box-shadow: none;
}*/