body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.asiento {
	height: 50px;
	border: 1px solid #aaa;
	border-radius: 5px;
	cursor: pointer;
}

.bloqueado{
	background: #ffc400;
	color: #00B7FF;
	transition: all 0.3 linear;
}
.vendido {
	background: #e53935;
	color: #FFF;
	transition: all 0.3 linear;
}
